.jumbotron {
  background-color: #a100ff;
  border-radius: 0px;
  padding: 3rem 8rem;
  color: white !important;
}

.home-title,
.usecase-title {
  font-family: "Graphik Web", Arial, sans-serif;
  font-size: 19px;
  color: white !important;
  line-height: 3rem;
}

.usecase-title {
  font-size: 13px !important;
    color: #7500c0 !important;
    font-weight: 600;
}

.vantage-text {
  margin-top: -98px !important;
    color: white !important;
    font-family: Georgia;
    font-weight: bold;
    margin-left: 61px;
    /* position: absolute; */
}

.part-1 {
  font-size: 8px;
    letter-spacing: 1px;
    margin-left: -9px;
}

.part-2 {
  letter-spacing: 1px;
  font-size: 14px;
  margin-left: -26px;

}

.card-img-top {
  /* width: 355px !important; */
  height: 212px !important;
}

.usecase-desc {
  font-size: 12px;
    color: #7500c0;
    font-family: "Graphik Web", Arial, sans-serif;
    letter-spacing: 1px;
}
