
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="">
      <h1 class="display-4 home-title">Quick Start AUTO ML</h1>
      <label>QuickStart AutoML is a Data & AI Modernization utility that aims to accelerate the AI/ML use-case adoption using Teradata Vantage on Cloud.</label>
      <label>It performs automated data preparation, model selection & building, ML model training & testing, and automated deployments to the Vantage ML Engine</label>
      <p><a class="btn btn-sm btn-primary app-btn btn-lg p-2 mt-3" routerLink="/connection" role="button">Build a model &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <!-- <div class="row">
      <div class="col-md-4">
        <h2 class="usecase-title">Customer Churn Prediction</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary app-btn-sec" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>HR - Employee Salary Prediction</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary app-btn-sec" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Social Media – Prospective buyer prediction</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-secondary app-btn-sec" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div> -->



  <div class="card-group">
    <div class="card m-2" style="border-radius:12%">
      <img class="card-img-top" src="../../assets/img/churn.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title usecase-title">Customer Churn Prediction</h5>
        <p class="card-text">Detecting which customers are likely to leave a service or to cancel a subscription to a service</p>
      </div>
      <div class="card-footer text-center">
        <a class="btn btn-secondary app-btn-sec" href="#" role="button">View details &raquo;</a>
      </div>
    </div>
    <div class="card m-2" style="border-radius:12%">
      <img class="card-img-top" src="../../assets/img/hr.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title usecase-title">HR - Employee Salary Prediction</h5>
        <p class="card-text">Prediction Of Employee Salary On The Bases Of Previous Company Data With Polynomial Regression</p>
      </div>
      <div class="card-footer text-center">
        <a class="btn btn-secondary app-btn-sec" href="#" role="button">View details &raquo;</a>
      </div>
    </div>
    <div class="card m-2" style="border-radius:12%">
      <img class="card-img-top" src="../../assets/img/sm.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title usecase-title">Social Media – Prospective buyer prediction</h5>
        <p class="card-text">My boldest prediction for the future of Social Media Marketing is survey your own clients or customers for feedback about your offering and showcase it to prospective buyers.</p>
      </div>
      <div class="card-footer text-center">
        <a class="btn btn-secondary app-btn-sec" href="#" role="button">View details &raquo;</a>
      </div>
    </div>

</div>




    <!-- <hr> -->
  </div>

  <!-- /container -->
