<div class="container-fluid conn-page">
  <div class="row">

    <div class="col-8 align-self-center" >
    </div>

    <div class="col-3 mt-5 form-pane">
      <div class="container">
        <p class="text-center font-weight-bold connection-form-title">Connect To Teradata</p>
        <p *ngIf="message != ''" class="d-flex status-msg justify-content-center" [ngClass]="conn_status ? 'text-success' : 'text-danger'">{{message}}</p>
        <p  *ngIf="conn_status" class="d-flex status-msg justify-content-center success-status-msg"> Proceed to data preperation</p>

      </div>
      <form class="row g-1" [formGroup]="frmRegister" (ngSubmit)="testServerConnection(frmRegister.value)" [ngClass]="conn_status ? 'form-disabled' : ''">
        <div class="form-group col-12 gx-5">
          <label for="host" class="form-label">Database Server<span style="color: red;">*</span></label>
          <input type="text" class="form-control form-text" id="host" placeholder="Host IP Address" name="host" formControlName="host"
            required [ngClass]="{ 'is-invalid': f['host'].touched && f['host'].errors }" autofocus/>

          <div *ngIf="(frmRegister.controls['host'].invalid &&
            (frmRegister.controls['host'].dirty ||
              frmRegister.controls['host'].touched)) && frmRegister.controls['host'].errors"
            class="alert alert-danger mt-1 form-field-error">
            Please enter server ip address
          </div>

        </div>

        <div class="form-group col-12 gx-5">
          <label for="user" class="form-label">Username<span style="color: red;">*</span></label>
          <input type="text" class="form-control form-text" id="user" placeholder="Username" name="user"
            formControlName="user" required [ngClass]="{ 'is-invalid': f['user'].touched && f['user'].errors }" />

          <div *ngIf="(frmRegister.controls['user'].invalid &&
            (frmRegister.controls['user'].dirty ||
              frmRegister.controls['user'].touched)) && frmRegister.controls['user'].errors"
            class="alert alert-danger mt-1 form-field-error" >
            Please enter username
          </div>
        </div>

        <div class="form-group col-12 gx-5">
          <label for="password" class="form-label">Password<span style="color: red;">*</span></label>
          <input type="password" class="form-control form-text" id="password" placeholder="Password" name="password"
            formControlName="password" required [ngClass]="{ 'is-invalid': f['password'].touched && f['password'].errors }" />

          <div *ngIf="(frmRegister.controls['password'].invalid &&
            (frmRegister.controls['password'].dirty ||
              frmRegister.controls['password'].touched)) && frmRegister.controls['password'].errors"
            class="alert alert-danger mt-1 form-field-error">
            Please enter password
          </div>
        </div>

        <div class="d-grid gap-2 col-12 gx-5 cont-btn" *ngIf="!submitted">
          <button *ngIf="!conn_status" class="btn btn-primary app-btn" type="submit" [disabled]="frmRegister.invalid">Connect</button>

        </div>
      </form>

      <div *ngIf="submitted" class="d-flex justify-content-center text-center" >
        <div class="row">
          <div class="col-12">
            <div class="spinner-border text-primary spinner-border-sm mt-4" style="width: 2rem; height: 2rem;" role="status"></div>
          </div>
          <div class="col-12">
            <span class="wait">Connecting..Please wait!!!</span>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
