<div class="container">
  <div class="row">
    <div class="col-6 align-self-center offset-1">
      <form onsubmit="" class="p-5">
        <div class="form-group">
          <input type="text" class="form-control" id="databaseServer" placeholder="Database Server" />
        </div>
        <br />
        <div class="form-group">
          <input type="text" class="form-control" id="login" placeholder="Login" />
        </div>
        <br />
        <div class="form-group">
          <input type="password" class="form-control" id="password" placeholder="Password" />
        </div>
        <br />
        <div class="d-grid gap-2">
          <button class="btn btn-primary" type="button">Login</button>
        </div>
      </form>
    </div>

    <div class="col-3 align-self-center">
      <table>
        <tbody>
          <tr>
            <td>
              <div class="vl"></div>
            </td>
            <td>
              <div class="d-grid gap-2 p-5 m-2">
                <button class="btn btn-primary" type="button">
                  Single Sign-on
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
