<div class="container-fluid conn-page">
  <div class="row">

    <div class="col-8 align-self-center" >
      <!-- <table>
        <tbody>
          <tr>
            <td>
              <div class="vl"></div>
            </td>
            <td>
              <div class="d-grid gap-2 p-5 m-2">
                <button class="btn btn-primary" type="button">
                  Single Sign-on
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table> -->
      <!-- <img src="../../assets/img/bg3.jpg" class="img-fluid img-css" alt="Responsive image"> -->
    </div>

    <div class="col-3 mt-5 connection-form-pane">
      <div class="container">
        <p class="text-center font-weight-bold connection-form-title">Connect To Server</p>
        <p *ngIf="message != ''" class="d-flex status-msg justify-content-center" [ngClass]="conn_status ? 'text-success' : 'text-danger'">{{message}}</p>
        <p  *ngIf="conn_status" class="d-flex status-msg justify-content-center"> Lets move to Data Preperation Stage </p>
      </div>
      <form class="row g-1" [formGroup]="frmRegister" (ngSubmit)="testServerConnection(frmRegister.value)">
        <div class="form-group col-12 gx-5">
          <label for="host" class="form-label">Database Server</label>
          <input type="text" class="form-control" id="host" placeholder="Host IP Address" name="host" formControlName="host"
            required [ngClass]="{ 'is-invalid': f['host'].touched && f['host'].errors }" autofocus/>

          <div *ngIf="(frmRegister.controls['host'].invalid &&
            (frmRegister.controls['host'].dirty ||
              frmRegister.controls['host'].touched)) && frmRegister.controls['host'].errors"
            class="alert alert-danger mt-1 form-field-error">
            Please enter server ip address
          </div>

        </div>

        <div class="form-group col-12 gx-5">
          <label for="user" class="form-label">Username</label>
          <input type="text" class="form-control" id="user" placeholder="Username" name="user"
            formControlName="user" required [ngClass]="{ 'is-invalid': f['user'].touched && f['user'].errors }" />

          <div *ngIf="(frmRegister.controls['user'].invalid &&
            (frmRegister.controls['user'].dirty ||
              frmRegister.controls['user'].touched)) && frmRegister.controls['user'].errors"
            class="alert alert-danger mt-1 form-field-error" >
            Please enter username
          </div>
        </div>

        <div class="form-group col-12 gx-5">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password" name="password"
            formControlName="password" required [ngClass]="{ 'is-invalid': f['password'].touched && f['password'].errors }" />

          <div *ngIf="(frmRegister.controls['password'].invalid &&
            (frmRegister.controls['password'].dirty ||
              frmRegister.controls['password'].touched)) && frmRegister.controls['password'].errors"
            class="alert alert-danger mt-1 form-field-error">
            Please enter password
          </div>
        </div>

        <div class="d-grid gap-2 col-12 gx-5 cont-btn" *ngIf="!submitted">
          <button class="btn btn-primary app-btn" type="submit" [disabled]="frmRegister.invalid">Connect</button>

        </div>
      </form>

      <div *ngIf="submitted" class="d-flex justify-content-center text-center" >
        <div class="row">
          <div class="col-12">
            <div class="spinner-border text-primary spinner-border-sm mt-4" style="width: 2rem; height: 2rem;" role="status"></div>
          </div>
          <div class="col-12">
            <span>Connecting..Please wait!!!</span>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
