.form-control.is-invalid, .was-validated .form-control:invalid{
  background-image : none  !important
}
.form-field-error{
  font-size: 8px;
  padding: 3px !important;
}

.img-css{
  height: 390px !important;
}

.form-label{
    font-size: 11px !important;
    font-weight: bold !important;
}

.alert{
  margin-bottom: 0px !important;
}
