<section class="container">
  <!-- <app-nav *ngFor="let stage of stages" [stage]="stage"></app-nav> -->

  <ul class="nav nav-pills nav-fill  nav-justified">
    <li class="nav-item">
      <a class="nav-link active rounded-pill bg-success flex-fill text-white text-center app-pill-nav active-stage"
        routerLink="" >Connection</a>
    </li>
    <hr class="d-inline-block app-hr" width="50" />
    <li class="nav-item text-wrap">
      <a class="nav-link rounded-pill bg-secondary flex-fill text-white text-center  app-pill-nav inactive-stage" style="width: 153px;"
        routerLink="../dataprep">Data Preperation</a>
    </li>
    <hr class="d-inline-block app-hr" width="50" />

    <li class="nav-item">
      <a class="nav-link rounded-pill bg-secondary flex-fill text-white text-center  app-pill-nav inactive-stage" href="#">Build</a>
    </li>
    <hr class="d-inline-block app-hr" width="50" />

    <li class="nav-item">
      <a class="nav-link nav-link  rounded-pill bg-secondary flex-fill text-white text-center app-pill-nav inactive-stage"
        href="#">Train</a>
    </li>
    <hr class="d-inline-block app-hr" width="50" />

    <li class="nav-item">
      <a class="nav-link rounded-pill bg-secondary flex-fill text-white text-center app-pill-nav inactive-stage" href="#">Test</a>
    </li>
    <hr class="d-inline-block app-hr" width="50" />

    <li class="nav-item">
      <a class="nav-link rounded-pill bg-secondary flex-fill text-white text-center app-pill-nav inactive-stage" href="#">Deploy</a>
    </li>
    <hr class="d-inline-block app-hr" width="50" />

    <li class="nav-item">
      <a class="nav-link rounded-pill bg-secondary flex-fill text-white text-center app-pill-nav inactive-stage" href="#">Validate</a>
    </li>
  </ul>
</section>

<section>
  <!-- <app-connection></app-connection> -->
  <!-- <app-data-preperation></app-data-preperation> -->
  <router-outlet></router-outlet>
</section>
