.q-section {
  background: linear-gradient(90deg, #a055f5 0%, #be82ff 50%, #dcafff 80%, #b455aa 100%);
  height: 472px;
  margin-left: 24%;
  /* margin-bottom: -7px; */
  width: 942px;
}

.status-msg {
  color: white !important;
  font-size: 14px;
  padding-top: 2px;
  left: 45%;
  position: absolute;
}

.blink_me {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.form-pane {
  /* background-color: #e6dcff; */
  position: fixed;
  margin-left: 3px;
  width: 21vw;
}

.data-page {
  /* background-image: url("../../assets/img/databg.jpg");
  background-repeat: no-repeat;
  height: 100vh; */
  margin-top: 53px;
}

.form-label {
  font-size: 11px !important;
  font-weight: bold !important;
}

.vertical-center {
  margin-top: 4%;
}

.cont-btn {
  margin-top: 10px;

}

.cont-btn-css{
  font-size: 13px !important;
}

.change-copy {
  opacity: 1;
  /* transform:
    translate(20px, 42px) scale(1.05, 1.05); */
}

.change-copy span {
  font-size: 20vh;
  font-weight: 700;
  font-family: "Graphik Web", Arial, sans-serif;
  color: #fff;
  position: absolute;
  display: block;
  line-height: .8;
}

.change-copy p {
  color: #fff;
  font-size: 2vw;
  width: 36vw;
  line-height: 1;
  font-family: "GT-Sectra-Fine-Regular", Times, serif;
}

.form-disabled {
  pointer-events: none;
  opacity: .6;
}


.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.input-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}

.input-group-prepend {
  margin-right: -1px;
  display: flex;
  height: 38px;
}

.input-group>.custom-file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.input-group>.custom-file,
.input-group>.custom-select,
.input-group>.form-control {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}

.custom-file {
  position: relative;
  display: inline-block;
  width: 100%;
  height: calc(2.25rem + 2px);
  margin-bottom: 0;
}

.custom-file-input {
  position: relative;
  z-index: 2;
  width: 100%;
  height: calc(2.25rem + 2px);
  margin: 0;
  opacity: 0;
}

.custom-file-input:lang(en)~.custom-file-label::after {
  content: "Browse";
}

.custom-file-label::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: block;
  height: calc(calc(2.25rem + 2px) - 1px * 2);
  padding: 0.5rem 0.85rem;
  line-height: 1.5;
  color: white;
  content: "Browse";
  background-color: #7500c0 !important;
  border-left: 1px solid #ced4da;
  border-radius: 0 0.25rem 0.25rem 0;
}

.input-group>.custom-file:not(:first-child) .custom-file-label,
.input-group>.custom-file:not(:first-child) .custom-file-label::before {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.custom-file-label {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.custom-file-label {
  font-size: 11px;
  color: #7500c0;
  padding-top: 8px !important;
}

.config-form {
  background-color: #e6dcff;
}

.upload-form-title {
  font-size: 12px !important;
  font-family: "Graphik Web", Arial, sans-serif;
  color: #7500c0 !important;
  padding-left: 20px;
}

.upload-msg {
  font-size: 11px;
  font-weight: bold;
  margin-left: 21px;
  position: absolute;
  top: 37px;
}


.dropdown-form {
  background-color: aliceblue;
  margin-top: 4px;
  height: 63vh;
}


.form-disabled{
  pointer-events: none;
  opacity: .6;
}

.result-header {
  font-size: 13px;
  color: black;
}

.result-data{
  font-size: 11px;
  color: white;
}
