<div class="container-fluid data-page">
  <div class="form-pane">
    <div class="row">
      <div class="col-12 card" class="config-form">
        <p class="mt-1 upload-form-title">Upload Configuration File</p>
        <p class="upload-msg" *ngIf="message !== ''" [ngClass]="!isFileUploadFailed ? 'text-success' : 'text-danger'">
          {{message}}</p>
        <div class="input-group card-body" style="padding-top: 19px;"
          [ngClass]="initRunMessage != '' ? 'form-disabled' :''">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <button (click)="upload()" class="btn btn-success app-btn input-group-text"
                style="font-size: 13px; width: 57px; margin-left: -12px;" [disabled]="filename === 'Choose file'">
                <span class="fa fa-cloud-upload"></span>
              </button>
            </span>
          </div>
          <div class="custom-file" style="left: -11px;">
            <input type="file" class="custom-file-input" id="inputGroupFile01" (change)="onChange($event)" accept=".txt"
              required>
            <label class="custom-file-label text-start text-truncate" style="max-width: 188px;"
              for="inputGroupFile01">{{filename}}</label>
          </div>
        </div>
      </div>
      <div class="col-12 dropdown-form">
        <form class="row g-1 align-middle vertical-center" (ngSubmit)="init()"
          [ngClass]="inprogress ? 'form-disabled' : ''">
          <div class="form-group col-12 gx-4">
            <label for="db" class="form-label">Select Database <span style="color: red;">*</span></label>
            <select class="form-control" id="db" name="db" (change)="changeDropdown($event.target, 'database')"
              autofocus [attr.disabled]="initRunMessage != '' ? 'disabled' : null">
              <option *ngFor="let database of databases">{{database}}</option>
            </select>
          </div>

          <div class="form-group col-12 gx-4">
            <label for="basetable" class="form-label">Select Table <span style="color: red;">*</span></label>
            <select class="form-control" id="basetable" name="basetable"
              (change)="changeDropdown($event.target, 'table')"
              [attr.disabled]="initRunMessage != '' ? 'disabled' : null">
              <option *ngFor="let table of tables">{{table}}</option>
            </select>
          </div>

          <div class="form-group col-12 gx-4">
            <label for="col" class="form-label">Select Column<span style="color: red;">*</span></label>
            <select class="form-control" id="col" name="col" (change)="changeDropdown($event.target, 'column')"
              [attr.disabled]="initRunMessage != '' ? 'disabled' : null">
              <option *ngFor="let column of columns">{{column}}</option>
            </select>
          </div>
          <div class="d-grid gap-2 col-12 gx-4 cont-btn" *ngIf="initRunMessage === ''">
            <button class="btn btn-primary app-btn cont-btn-css" type="submit"
              [disabled]="selectedColumn===''">Build</button>
          </div>

          <div class="d-grid gap-2 col-12 gx-4 cont-btn" *ngIf="initRunMessage != ''">
            <button class="btn btn-primary app-btn cont-btn-css" type="button"
              (click)="restartProcess()">Re-Start</button>
          </div>

          <div *ngIf="inprogress" class="d-flex justify-content-center text-center">
            <div class="row">
              <div class="col-12">
                <div class="spinner-border text-primary spinner-border-sm mt-4" style="width: 2rem; height: 2rem;"
                  role="status"></div>
              </div>
              <div class="col-12">
                <span class="wait">Please wait!!!</span>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="align-self-center q-section">
  <div class="container">

    <p *ngIf="errorMsg != ''" class="d-flex status-msg justify-content-center text-danger">{{errorMsg}} <span
        *ngIf="!isTeradataConnectionAlive">&nbsp; Go to <a routerLink="/connection"
          style="color: white;">Connection</a></span></p>

    <p *ngIf="initRunMessage != ''" class="d-flex status-msg justify-content-start text-success" style="left: 25%;">
      {{initRunMessage}}</p>

    <div *ngIf="initRunMessage != ''" class="pt-4">
      <div class="row align-items-start p-1">
        <div class="col-2  result-header">Row Count</div>
        <div class="col-9 result-data">{{rowCount}}</div>
      </div>
      <div class="row align-items-start p-1">
        <div class="col-2  result-header">Train Set Size</div>
        <div class="col-9 result-data">{{trainsetsize}}</div>
      </div>

      <div class="row align-items-start p-1">
        <div class="col-2  result-header">Test Set Size</div>
        <div class="col-9 result-data">{{testsetsize}}</div>
      </div>

      <div class="row align-items-start  p-1">
        <div class="col-2 result-header">Numerical Columns</div>
        <div class="col-9 result-data">{{ncols | commaSeperated}}</div>
      </div>
      <div class="row align-items-start  p-1">
        <div class="col-2 result-header">Categorical Columns</div>
        <div class="col-9 result-data">{{ccols | commaSeperated}}</div>
      </div>
      <div class="row align-items-start  p-1">
        <div class="col-10">
          <table class="table  table-sm table-bordered">
            <caption style="font-size: 13px; caption-side: top;">Sample Data</caption>
            <thead class="thead-dark">
              <tr class="result-header">
                <td *ngFor="let column of columns">{{column}}</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let d of top5data" class="result-data">
                <!-- <td *ngFor="let column of d|jsonReader">{{d.DayCalls}</td> -->
                <td *ngFor="let d1 of d | jsonReader: columns"> {{d1}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
  <div class="change-copy" *ngIf="initRunMessage === ''">
    <div class="the" aria-hidden="true"><span style="transform: translate(12px, 35px);">The</span> </div>
    <div class="logo" aria-hidden="true"><img style="transform: translate(779px, 13px);"
        src="../../assets/img/acclogo-white.png" width="100" height="100" /> </div>
    <div class="you" aria-hidden="true"><span style="transform: translate(223px, 17px);">change</span></div>
    <div class="you" aria-hidden="true"><span style="transform: translate(477px, 234px);">you</span></div>
    <div class="see" aria-hidden="true"><span style="transform: translate(612px, 116px);">see</span></div>
    <p style="transform: translate(20px, 140px);">We celebrate progress, the change we bring, the value we create, the
      success we share and we refresh the familiar.</p>
  </div>
</div>
