<div class="container">
  <div class="row">
    <div class="col-3 offset-1">
      <form onsubmit="" class="p-5">
        <div class="form-group">
          <select class="form-control" id="databaseName" name="databaseName">
            <option>Select Database</option>
            <option>Test</option>
            <option>Sample</option>
            <option>Customer</option>
          </select>
        </div>
        <br />
        <div class="form-group">
          <select class="form-control" id="baseTable" name="baseTable">
            <option>Select Base Table</option>
            <option>Table1</option>
            <option>Table2</option>
            <option>Table3</option>
          </select>
        </div>
        <br />
        <div class="form-group">
          <select class="form-control" id="baseTable" name="baseTable" >
            <option>Select Dependent Column(s) </option>
            <option>Col1</option>
            <option>Col2</option>
            <option>Col3</option>
            <option>Col4</option>
            <option>Col5</option>
            <option>Col6</option>
            <option>Col7</option>
            <option>Col8</option>
            <option>Col9</option>
            <option>Col10</option>
            <option>Col11</option>
            <option>Col12</option>
            <option>Col13</option>
            <option>Col14</option>
            <option>Col15</option>
          </select>
        </div>
        <br />
        <div class="d-grid gap-2">
          <button class="btn btn-primary" type="button">Select</button>
        </div>
      </form>
    </div>

    <div class="col-8 align-self-center q-section">
      <table>
        <tbody>
          <tr>
            <td>
              <div class="vl"></div>
            </td>
            <td class="align-self-start">
              <div class="d-grid gap-2 p-5 m-2">
              <div class="form-group">
                <label for="q1">Does table contain primay Key?</label>
                <select id="q1" class="form-control" name="q1">
                  <option>Select Answer</option>
                  <option>Yes</option>
                  <option>No</option>
                </select>
              </div>
              <hr/>
              <div class="form-group">
                <label for="q2">Is column contains null values?</label>
                <select id="q2" class="form-control" name="q2">
                  <option>Select Answer</option>
                  <option>Yes</option>
                  <option>No</option>
                </select>
              </div>

              <hr/>
              <div class="form-group">
                <label for="q2">Is column contains blank values?</label>
                <select id="q2" class="form-control" name="q2">
                  <option>Select Answer</option>
                  <option>Yes</option>
                  <option>No</option>
                </select>
              </div>
            </div>
            </td>
          </tr>
          <tr >

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
