<div class="container-fluid data-page">
  <div class="form-pane">
    <div class="row">
      <div class="col-12 card" class="config-form">
        <p class="mt-1 upload-form-title">Upload Configuration File</p>
        <p class="upload-msg" *ngIf="message !== ''" [ngClass]="!isFileUploadFailed ? 'text-success' : 'text-danger'">
          {{message}}</p>
        <div class="input-group card-body" style="padding-top: 6px;"
          [ngClass]="initRunMessage != '' ? 'form-disabled' :''">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <button (click)="upload()" class="btn btn-success app-btn input-group-text"
                style="font-size: 14px; width: 57px; margin-left: -12px;" [disabled]="filename === 'Choose file'">
                <span class="fa fa-cloud-upload"></span>
              </button>
            </span>
          </div>
          <div class="custom-file" style="left: -11px;">
            <input type="file" class="custom-file-input" id="inputGroupFile01" (change)="onChange($event)" accept=".txt"
              required>
            <label class="custom-file-label text-start text-truncate" style="max-width: 188px;"
              for="inputGroupFile01">{{filename}}</label>
          </div>
        </div>
      </div>
      <div class="col-12 dropdown-form">
        <form class="row g-1 align-middle vertical-center" (ngSubmit)="init()"
          [ngClass]="inprogress ? 'form-disabled' : ''">
          <div class="form-group col-12 gx-4">
            <label for="db" class="form-label">Select Database <span style="color: red;">*</span></label>
            <select class="form-control" id="db" name="db" (change)="changeDropdown($event.target, 'database')"
              autofocus [attr.disabled]="initRunMessage != '' ? 'disabled' : null">
              <option *ngFor="let database of databases">{{database}}</option>
            </select>
          </div>

          <div class="form-group col-12 gx-4">
            <label for="basetable" class="form-label">Select Dataset <span style="color: red;">*</span></label>
            <select class="form-control" id="basetable" name="basetable"
              (change)="changeDropdown($event.target, 'table')"
              [attr.disabled]="initRunMessage != '' ? 'disabled' : null">
              <option *ngFor="let table of tables">{{table}}</option>
            </select>
          </div>

          <div class="form-group col-12 gx-4">
            <label for="col" class="form-label">Select Dependent Column<span style="color: red;">*</span></label>
            <select class="form-control" id="col" name="col" (change)="changeDropdown($event.target, 'column')"
              [attr.disabled]="initRunMessage != '' ? 'disabled' : null">
              <option *ngFor="let column of columns">{{column}}</option>
            </select>
          </div>
          <div class="d-grid gap-2 col-12 gx-4 cont-btn" *ngIf="initRunMessage === ''">
            <button class="btn btn-primary app-btn cont-btn-css" type="submit"
              [disabled]="selectedColumn===''">Build</button>
          </div>

          <div class="d-grid gap-2 col-12 gx-4 cont-btn" *ngIf="initRunMessage != ''">
            <button class="btn btn-primary app-btn cont-btn-css" type="button"
              (click)="restartProcess()">Re-Start</button>
          </div>


        </form>

        <div *ngIf="inprogress" class="d-flex justify-content-center text-center">
          <div class="row">
            <div class="col-12">
              <div class="spinner-border text-primary spinner-border-sm mt-4" style="width: 2rem; height: 2rem;"
                role="status"></div>
            </div>
            <div class="col-12">
              <span class="wait">Please wait!</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="align-self-center q-section">
  <div class="container">

    <!--Download Report-->


    <p *ngIf="errorMsg != ''" class="d-flex status-msg justify-content-center text-danger"><a routerLink="/connection"
        style="color: darkred;">{{errorMsg}}</a></p>

    <!-- <p *ngIf="initRunMessage != ''" class="d-flex status-msg justify-content-start text-success" style="left: 25%;">
      {{initRunMessage}}</p> -->

    <div *ngIf="initRunMessage != ''" class="pt-2">
      <span class="fa fa-download fa-lg fa-style" data-tooltip="Download"></span>
      <div class="accordion accordion-flush" id="accordionAccordian">
        <div class="accordion-item card container">
          <div class="accordion-header card-header" id="flush-headingOne-h">
            <h5 class="mb-0">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-headingOne" aria-expanded="false" aria-controls="flush-headingOne">
                Basic Findings
              </button>
            </h5>
          </div>
          <div id="flush-headingOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne-h"
            data-bs-parent="#accordionAccordian">
            <div class="accordion-body card-body accordion-body-c">
              <div class="row align-items-start">
                <div class="col-2  result-header">Row Count</div>
                <div class="col-9 result-data">{{rowCount}}</div>
              </div>
              <div class="row align-items-start">
                <div class="col-2  result-header">Train Set Size</div>
                <div class="col-9 result-data">{{trainsetsize}}</div>
              </div>

              <div class="row align-items-start">
                <div class="col-2  result-header">Test Set Size</div>
                <div class="col-9 result-data">{{testsetsize}}</div>
              </div>

              <div class="row align-items-start">
                <div class="col-2 result-header">Numerical Columns</div>
                <div *ngIf="ncols.length == 0; else ncolshowtemplate" class="col-9 result-data no-data">No Numerical
                  Column in the initial dataset</div>
                <ng-template #ncolshowtemplate>
                  <div class="col-9 result-data">{{ncols | commaSeperated}}</div>
                </ng-template>

              </div>
              <div class="row align-items-start">
                <div class="col-2 result-header">Categorical Columns</div>
                <div *ngIf="ccols.length == 0; else ccolshowtemplate" class="col-9 result-data no-data">No Categorical
                  Column in the initail dataset</div>
                <ng-template #ccolshowtemplate>
                  <div class="col-9 result-data">{{ccols | commaSeperated}}</div>
                </ng-template>
              </div>
              <div class="row align-items-start">
                <div class="col-12 table-responsive table-responsive-lg">
                  <table class="table table-sm table-bordered">
                    <caption style="font-size: 13px; caption-side: top;">Sample Data</caption>
                    <thead class="thead-dark">
                      <tr class="result-header">
                        <td *ngFor="let column of columns">{{column}}</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let d of top5data" class="result-data">
                        <td *ngFor="let d1 of d | jsonReader: columns"> {{d1}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- End of Basic Info -->

        <!-- Start of Delete Column-->
        <div class="accordion-item card container">
          <h2 class="accordion-header card-header" id="flush-headingTwo-h">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-headingTwo" aria-expanded="false" aria-controls="flush-headingTwo">
              Feature Selection
            </button>
          </h2>
          <div id="flush-headingTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo-h"
            data-bs-parent="#accordionAccordian">
            <div class="accordion-body  card-body accordion-body-c">
              <div class="row align-items-start question-section">
                <div class="col-10 question-title">
                  {{questions.q1.qname}}
                </div>
                <div class="col-2" style="font-size: 13px;">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio1" value="Y"
                      (click)="deleteColumn('Y')">
                    <label class="form-check-label" for="inlineRadio1">Yes</label>
                  </div> &nbsp;&nbsp;
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio2" value="N"
                      (click)="deleteColumn('N')">
                    <label class="form-check-label" for="inlineRadio2">No</label>
                  </div>
                </div>
              </div>
              <hr *ngIf="isFeatureContinue" />
              <div class="row align-items-start" *ngIf="isColumnSelectToDrop">
                <div class="col-3">
                  <label for="form-floating" class="text-muted p-1 label-c">Select Column To Drop</label>
                  <div class="scrollbar-primary select-column">
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example"
                      (change)="selectColumnToDrop($event.target)" size="8" style="color: black !important;">
                      <option *ngFor="let column of columns " style="font-size: 12px !important;">{{column}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-3">
                  <label for="form-floating" class="text-muted p-1 label-c">Drop Columns List</label>
                  <div class="table-responsive deleted-column scrollbar-primary">
                    <table class="table caption-top table-borderless table-sm table-c1" *ngIf="dropCols.length != 0">
                      <thead>
                        <tr>
                          <th scope="col">Column</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of dropCols">
                          <td>{{item}}</td>
                          <span class="fa fa-close" style="color: red;" (click)="removeItem(item)"></span>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="col-3">
                  <label for="form-floating" class="text-muted p-1 label-c">Remaining Columns</label>
                  <div class="rlist scrollbar-primary">
                    <ul class="list-group list-group-flush" *ngFor="let remItem of remainingCols">
                      <li class="list-group-item rem-item">{{remItem}}</li>
                    </ul>
                  </div>
                </div>

                <div class="col-3">
                  <label for="form-floating" class="text-muted p-1 label-c">Remaining Numeric Columns</label>
                  <div class="rlist scrollbar-primary">
                    <ul class="list-group list-group-flush" *ngFor="let remNItem of remainingNcols">
                      <li class="list-group-item rem-item">{{remNItem}}</li>
                    </ul>
                  </div>
                </div>
              </div>
              <hr *ngIf="isFeatureContinue" />
              <div class="row align-items-start" style="padding-top: 3px;">
                <div class="col-2" style="margin-top: 6px; margin-bottom: 6px;">
                  <button class="btn btn-primary app-btn cont-btn-css" type="button"
                    (click)="performUnivariateStatistics()"
                    [disabled]="!isFeatureContinue || isUnivariateStatisticsResultAvailable">Continue</button>
                </div>
                <div class="col-8" style="margin-top: 6px;" *ngIf="isUnivariateStatisticsRunning">
                  <label class="info label-l" style="font-size: 9px;"> Exploratory Data Analysis of Numeric column
                    started using Vantage MLE functions
                    'UnivariateStatistics' and 'Unpivoting'</label>
                </div>
                <div class="col-2" style="margin-top: 6px;" *ngIf="isUnivariateStatisticsRunning">
                  <div class="col-12">
                    <div class="spinner-border text-primary spinner-border-sm float-left"
                      style="width: 2rem; height: 2rem; margin-right: 15px !important; float: left;" role="status">
                    </div>
                    <div class="wait" style="padding-top: 8px;">Please wait!</div>
                  </div>
                </div>
                <div class="col-10" style="margin-top: 7px;" *ngIf="isUnivariateStatisticsResultAvailable">
                  <label class="info label-l "> Below are the results of the Univariate Statistics on the numeric
                    columns &nbsp;&nbsp; <span class="fa f-lg fa-level-down" style="font-size: 20px;"></span></label>
                </div>
              </div>

            </div>
          </div>
        </div> <!-- End of Feature Selection-->

        <div class="accordion-item card container" *ngIf="isUnivariateStatisticsResultAvailable">
          <h2 class="accordion-header card-header" id="flush-headingThree-h">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-headingThree" aria-expanded="false" aria-controls="flush-headingThree">
              Exploratory Data Analysis
            </button>
          </h2>
          <div id="flush-headingThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree-h"
            data-bs-parent="#accordionAccordian">
            <div class="accordion-body card-body accordion-body-c">
              <div class="row align-items-start">
                <label style="font-size: 13px; caption-side: top; margin-left: 9px;"
                  class="text-muted p-1 label-c">Exploratory Analysis</label>
                <div class="col-12 table-responsive-lg fixTableHead ">
                  <table class="table  table-sm table-bordered">
                    <thead class="thead-dark">
                      <tr class="result-header">
                        <th *ngFor="let column of univariateStatisticsResultAttr">{{column }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let result of univariateStatisticsResult" class="result-data">
                        <td *ngFor="let ele of result | jsonReader: univariateStatisticsResultAttr"> {{ele}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-12">
                  <div class="row align-items-start next-action question-section">
                    <div class="col-10 question-title">
                      {{questions.q2.qname}}
                    </div>
                    <div class="col-2" style="font-size: 13px;">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio3"
                          value="Y" (click)="performAutomatedDT('Y')">
                        <label class="form-check-label" for="inlineRadio3">Yes</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio4"
                          value="N" (click)="performAutomatedDT('N')">
                        <label class="form-check-label" for="inlineRadio4">No</label>
                        &nbsp; <span *ngIf="isAutomatedDT" class="fa f-lg fa-level-down" style="font-size: 20px;"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- End of Exploratory Analysis-->

        <!-- Start Of Automated Data Transfer -->
        <div class="accordion-item card container" *ngIf="isAutomatedDT">
          <h2 class="accordion-header card-header" id="flush-headingFour-h">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-headingFour" aria-expanded="false" aria-controls="flush-headingFour">
              Automated Data Transformation
            </button>
          </h2>
          <div id="flush-headingFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour-h"
            data-bs-parent="#accordionAccordian">
            <div class="accordion-body card-body accordion-body-c">
              <div class="row align-items-start">
                <label style="font-size: 13px; caption-side: top; margin-left: 9px;"
                  class="text-muted p-1 label-i">Below is the Automated Data Transformation would happen using Vantage MLE Funtion &nbsp; <span class="fa f-lg fa-level-down" style="font-size: 20px;"></span></label>
                <div class="col-12 table-responsive fixTableHead fixTableHead-v1">
                  <table class="table table-sm table-bordered">
                    <thead class="thead-dark">
                      <tr class="result-header">
                        <th>Tranformation Name</th>
                        <th>Vantage Function</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let step of allAutomatedDTSteps" class="result-data-v1">
                        <td>{{step.name || "Unknown"}}</td>
                        <td>{{step.fn || "Unknown"}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-12">
                  <div class="row align-items-start" style="padding-top: 3px;">
                    <div class="col-12 text-center" style="margin-top: 6px; margin-bottom: 6px;">
                      <button class="btn btn-primary app-btn cont-btn-css" type="button" (click)="automatedDTProceed()"
                        [disabled]="!isAutomatedDT">Proceed</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Of Automated Data Transfer -->

        <!--Start of Numerical to Categorical Column-->
        <div class="accordion-item card container" *ngIf="isAutomatedProceed">
          <h2 class="accordion-header card-header" id="flush-heading6-h">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-heading6" aria-expanded="false" aria-controls="flush-heading6">
              Numerical to Categorical Conversion
            </button>
          </h2>
          <div id="flush-heading6" class="accordion-collapse collapse" aria-labelledby="flush-heading6-h"
            data-bs-parent="#accordionAccordian">
            <div class="accordion-body card-body accordion-body-c">
              <div class="row align-items-start question-section">
                <div class="col-10 question-title">
                  {{questions.q6.qname}}
                </div>
                <div class="col-2" style="font-size: 13px;">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions6" id="inlineRadio5" value="Y"
                      (click)="performNumericToColumn('Y')">
                    <label class="form-check-label" for="inlineRadio5">Yes</label>
                  </div> &nbsp;&nbsp;
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions6" id="inlineRadio6" value="N"
                      (click)="performNumericToColumn('N')">
                    <label class="form-check-label" for="inlineRadio6">No</label>
                  </div>
                </div>
              </div>
              <hr *ngIf="isNumericToCategoricalPerform" />
              <div class="row" *ngIf="isNumericToCategoricalPerform">
                <div class="col-8">
                  <label for="form-floating" class="text-muted p-1 label-c">Select Numerical Column For Categorical
                    Conversion</label>
                  <div class="">
                    <div class="table-responsive fixTableHead ">
                      <table class="table  table-sm table-bordered">
                        <thead class="thead-dark">
                          <tr class="result-header">
                            <th>Numeric Column</th>
                            <th>Sample Value</th>
                            <th style="width: 10vh;"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let temp of tempRemainingNcols" class="result-data">
                            <td> {{temp.name}}</td>
                            <td> {{top5data | extactData : temp.name }} </td>
                            <td style="padding-left: 22px;"><input class="form-check-input" type="checkbox" id="checkboxNoLabel"
                                (change)="onNumericalCheckBoxSelect(temp.name, $event.target)" [checked]="temp.checked">
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <label for="form-floating" class="text-muted p-1 label-c">Selected Numerical Columns</label>
                  <div class="table-responsive deleted-column scrollbar-primary">
                    <table class="table caption-top table-borderless table-sm table-c1"
                      *ngIf="selectedNColumnsForConversionList.length != 0">
                      <thead>
                        <tr>
                          <th scope="col">Column</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of selectedNColumnsForConversionList">
                          <td>{{item}}</td>
                          <span class="fa fa-close" style="color: red;" (click)="removeNSelectedItem(item)"></span>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <hr />
                <div class="row align-items-start" style="padding-top: 3px;">
                  <div class="col-2" style="margin-top: 6px; margin-bottom: 6px;">
                    <button class="btn btn-primary app-btn cont-btn-css" type="button"
                      (click)="performNumericalToCategorical()"
                      >Continue</button>
                  </div>

                  <div class="col-8" style="margin-top: 6px;" *ngIf="isNumricalToCategoricalStarted">
                    <label class="info label-l" style="font-size: 6px;"> Conversion of continous/numerical column to
                      categorical started using Vantage MLE function 'ConvertToCategorical' </label>
                  </div>
                  <div class="col-2" style="margin-top: 6px;" *ngIf="isNumricalToCategoricalStarted">
                    <div class="row">
                      <div class="col-12">
                        <div class="spinner-border text-primary spinner-border-sm float-left"
                          style="width: 2rem; height: 2rem; margin-right: 15px !important; float: left;" role="status">
                        </div>
                        <div class="wait" style="padding-top: 8px;">Please wait!</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-10" style="margin-top: 7px;" *ngIf="isNumricalToCategoricalConversionDone">
                    <label class="info label-l ">Conversion of continous/numerical column to categorical done. &nbsp;&nbsp; Next &nbsp; <span class="fa f-lg fa-level-down" style="font-size: 20px;"></span></label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--End of Numerical to Categorical Column-->

        <!--Start of Null Value Imputing-->
        <div class="accordion-item card container" *ngIf="isNumricalToCategoricalConversionDone">
          <h2 class="accordion-header card-header" id="flush-heading7-h">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-heading7" aria-expanded="false" aria-controls="flush-heading7">
              Basic Null Value Imputing
            </button>
          </h2>
          <div id="flush-heading7" class="accordion-collapse collapse" aria-labelledby="flush-heading7-h"
            data-bs-parent="#accordionAccordian">
            <div class="accordion-body card-body accordion-body-c">
              <div class="row align-items-start question-section">
                <div class="col-10 question-title">
                  {{questions.q7.qname}}
                  <!-- Question comes in the Previous step-->
                </div>
                <div class="col-2" style="font-size: 13px;">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions7" id="inlineRadio7" value="Y"
                      (click)="performBasicNullDecision('Y')">
                    <label class="form-check-label" for="inlineRadio7">Yes</label>
                  </div> &nbsp;&nbsp;
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions7" id="inlineRadio8" value="N"
                      (click)="performBasicNullDecision('N')">
                    <label class="form-check-label" for="inlineRadio8">No</label>
                  </div>
                </div>
              </div>

              <div class="row" *ngIf="isBasicNullPerform">
                <div class="col-7"></div>
                <div class="col-5"></div>

                <div class="row align-items-start" style="padding-top: 18px;">
                  <div class="col-2" style="margin-top: 6px; margin-bottom: 6px;">
                    <button class="btn btn-primary app-btn cont-btn-css" type="button"
                      (click)="performBasicNullImputing()" [disabled]="">Continue</button>
                  </div>

                  <div class="col-8" style="margin-top: 6px;" *ngIf="isBasicNullImputingStarted">
                    <label class="info label-l" style="font-size: 9px;"> Basic Null value imputing using Median and Mode
                      started </label>
                  </div>
                  <div class="col-2" style="margin-top: 6px;" *ngIf="isBasicNullImputingStarted">
                    <div class="col-12">
                      <div class="spinner-border text-primary spinner-border-sm float-left"
                        style="width: 2rem; height: 2rem; margin-right: 15px !important; float: left;" role="status">
                      </div>
                      <div class="wait" style="padding-top: 8px;">Please wait!</div>
                    </div>
                  </div>
                  <div class="col-10" style="margin-top: 7px;" *ngIf="isBasicNullImputingDone">
                    <label class="info label-l ">Basic null value imputing done! &nbsp;&nbsp; Next &nbsp; <span class="fa f-lg fa-level-down" style="font-size: 20px;"></span></label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--End of Null Value Imputing-->


        <!--Start of Automated clustered null value imputing-->
        <div class="accordion-item card container" *ngIf="isBasicNullImputingDone">
          <h2 class="accordion-header card-header" id="flush-heading8-h">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-heading8" aria-expanded="false" aria-controls="flush-heading8">
              Clustered Null Value Imputing
            </button>
          </h2>
          <div id="flush-heading8" class="accordion-collapse collapse" aria-labelledby="flush-heading8-h"
            data-bs-parent="#accordionAccordian">
            <div class="accordion-body card-body accordion-body-c">
              <div class="row align-items-start question-section">
                <div class="col-10 question-title">
                  {{questions.q8.qname}}
                </div>
                <div class="col-2" style="font-size: 13px;">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions8" id="inlineRadio9" value="Y"
                      (click)="performClusterNullValueImputingDecision('Y')">
                    <label class="form-check-label" for="inlineRadio9">Yes</label>
                  </div> &nbsp;&nbsp;
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions8" id="inlineRadio10" value="N"
                      (click)="performClusterNullValueImputingDecision('N')">
                    <label class="form-check-label" for="inlineRadio10">No</label>
                  </div>
                </div>
              </div>

              <div class="row" *ngIf="isAutomatedClusterPerform">
                <div class="col-7"></div>
                <div class="col-5"></div>

                <div class="row align-items-start" style="padding-top: 18px;">
                  <div class="col-2" style="margin-top: 6px; margin-bottom: 6px;">
                    <button class="btn btn-primary app-btn cont-btn-css" type="button"
                      (click)="performClusterNullValueImputing()" [disabled]="">Continue</button>
                  </div>

                  <div class="col-8" style="margin-top: 6px;" *ngIf="isAutomatedClusterStarted">
                    <label class="info label-l" style="font-size: 9px;"> Clustered null value imputing started </label>
                  </div>
                  <div class="col-2" style="margin-top: 6px;" *ngIf="isAutomatedClusterStarted">
                    <div class="col-12">
                      <div class="spinner-border text-primary spinner-border-sm float-left"
                        style="width: 2rem; height: 2rem; margin-right: 15px !important; float: left;" role="status">
                      </div>
                      <div class="wait" style="padding-top: 8px;">Please wait!</div>
                    </div>
                  </div>
                  <div class="col-10" style="margin-top: 7px;" *ngIf="isAutomatedClusterDone">
                    <label class="info label-l ">Clustered null value imputing done! &nbsp;&nbsp; Next &nbsp; <span class="fa f-lg fa-level-down" style="font-size: 20px;"></span></label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--End of Null Value Imputing-->

        <!--Start of Outlier Handling-->
        <div class="accordion-item card container" *ngIf="isAutomatedClusterDone">
          <h2 class="accordion-header card-header" id="flush-heading9-h">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-heading9" aria-expanded="false" aria-controls="flush-heading9">
              Outlier Handling
            </button>
          </h2>
          <div id="flush-heading9" class="accordion-collapse collapse" aria-labelledby="flush-heading9-h"
            data-bs-parent="#accordionAccordian">
            <div class="accordion-body card-body accordion-body-c">
              <div class="row align-items-start question-section">
                <div class="col-10 question-title">
                  {{questions.q9.qname}}
                </div>
                <div class="col-2" style="font-size: 13px;">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions9" id="inlineRadio12" value="Y"
                      (click)="performOutlierHandlingDecision('Y')">
                    <label class="form-check-label" for="inlineRadio12">Yes</label>
                  </div> &nbsp;&nbsp;
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions9" id="inlineRadio13" value="N"
                      (click)="performOutlierHandlingDecision('N')">
                    <label class="form-check-label" for="inlineRadio13">No</label>
                  </div>
                </div>
              </div>

              <div class="row" *ngIf="isOutlierHandingPerform">
                <div class="col-7"></div>
                <div class="col-5"></div>

                <div class="row align-items-start" style="padding-top: 18px;">
                  <div class="col-2" style="margin-top: 6px; margin-bottom: 6px;">
                    <button class="btn btn-primary app-btn cont-btn-css" type="button"
                      (click)="performOutlierHandling()" [disabled]="">Continue</button>
                  </div>

                  <div class="col-8" style="margin-top: 6px;" *ngIf="isOutlierHandingStarted">
                    <label class="info label-l" style="font-size: 9px;"> Outlier Handling started using Vantage MLE function 'OutlierFilter'</label>
                  </div>
                  <div class="col-2" style="margin-top: 6px;" *ngIf="isOutlierHandingStarted">
                    <div class="col-12">
                      <div class="spinner-border text-primary spinner-border-sm float-left"
                        style="width: 2rem; height: 2rem; margin-right: 15px !important; float: left;" role="status">
                      </div>
                      <div class="wait" style="padding-top: 8px;">Please wait!</div>
                    </div>
                  </div>
                  <div class="col-10" style="margin-top: 7px;" *ngIf="isOutlierHandingDone">
                    <label class="info label-l ">Outlier handling done!&nbsp;&nbsp; Next &nbsp; <span class="fa f-lg fa-level-down" style="font-size: 20px;"></span></label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--End of Null Value Imputing-->

        <!-- Start of Model Creation -->
        <div class="accordion-item card container" *ngIf="isOutlierHandingDone">
          <h2 class="accordion-header card-header" id="flush-heading10-h">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-heading10" aria-expanded="false" aria-controls="flush-heading10">
              Final Model
            </button>
          </h2>
          <div id="flush-heading10" class="accordion-collapse collapse" aria-labelledby="flush-heading10-h"
            data-bs-parent="#accordionAccordian">
            <div class="accordion-body card-body accordion-body-c">


              <div class="row container" *ngIf="isOutlierHandingDone">
                <div class="col-12" *ngFor="let step of flows">
                  <label class="info label-l" style="font-size: 9px;"> {{step}}</label>
                </div>
                <label class="info label-l" style="font-size: 9px;"> Model Scores are as below &nbsp; &nbsp;<span class="fa f-lg fa-level-down" style="font-size: 20px;"></span></label>

                <div class="row align-items-start" style="padding-top: 18px;">
                  <div class="col-3" style="margin-top: 6px; margin-bottom: 6px;">
                    <button class="btn btn-primary app-btn cont-btn-css" type="button"
                      (click)="restartProcess()" [disabled]="">Try Another Model Build</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- End of Model Creation Started-->


        <!-- Start of Manual Data Transform-->
        <div class="accordion-item card container" *ngIf="isManualDT">
          <h2 class="accordion-header card-header" id="flush-collapse5-h">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapse5" aria-expanded="false" aria-controls="flush-collapse5">
              Manual Data Transformation
            </button>
          </h2>
          <div id="flush-collapse5" class="accordion-collapse collapse" aria-labelledby="flush-collapse5-h"
            data-bs-parent="#accordionAccordian">
            <div class="accordion-body card-body accordion-body-c">

              <div class="row align-items-start question-section">
                <div class="col-10 question-title">
                  {{questions.q4.qname}}
                </div>
                <div class="col-2" style="font-size: 13px;">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions4" id="inlineRadio7" value="Y"
                      (click)="performManualDT('Y')">
                    <label class="form-check-label" for="inlineRadio7">Yes</label>
                  </div> &nbsp;&nbsp;
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions4" id="inlineRadio8" value="N"
                      (click)="performManualDT('N')">
                    <label class="form-check-label" for="inlineRadio8">No</label>
                  </div>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-12">
                  <div for="form-floating" class="fs-4 fw-semibold fw-primary p-4 text-center" style="color: #7500c0;">
                    {{manualDataTransformationMessage}}</div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="change-copy" *ngIf="initRunMessage === ''">
      <div class="the" aria-hidden="true"><span style="transform: translate(12px, 48px);">The</span> </div>
      <div class="logo" aria-hidden="true"><img style="transform: translate(903px, 13px);"
          src="../../assets/img/acclogo-white.png" width="100" height="100" /> </div>
      <div class="you" aria-hidden="true"><span style="transform: translate(277px, 27px);">change</span></div>
      <div class="you" aria-hidden="true"><span style="transform: translate(541px, 234px);">you</span></div>
      <div class="see" aria-hidden="true"><span style="transform: translate(722px, 116px);">see</span></div>
      <p style="transform: translate(20px, 167px);">We celebrate progress, the change we bring, the value we create, the
        success we share and we refresh the familiar.</p>
    </div>
  </div>
