.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}


.vl {
  border-left: 6px solid green;
  height: 500px;
}

.nav-link-h{
  font-size: 13px;
  color: white;
  margin-top: 14px;
  align-items: end !important;
  width: 49vh;
  /* padding-left: 10vh; */
}

.nav-link-a{
  padding-left: 24vh;
}

.nav-link-b{
  padding-left: 8vh;
}

.nav-link-h a{
  color: white;
}

.breadcrumb-item::before {
  color: white !important;
}

.breadcrumb-item+.breadcrumb-item::before{
  content: var(--bs-breadcrumb-divider, ">  ") !important;
}

.app-header-logo{
  width: 4vh;
  height: 4vh;

}

.header-bar{
  height: 6vh;
  margin-left: 26px;

}

.navbar-style{
  background-color: #7500c0
}

.nav-link{
  font-size: 13px !important;
  color: white;
}

.three-bar{
     margin-top: 17px;
    margin-right: 28px;
    color: white;
}

.nav-link-l{
  width: 145vh !important;
  height: auto !important;
}

.nav-link-l a{
  display: inline;
}

.adjuster{
  padding-top: 9px !important;
  margin-top: 0px !important;
}

.home-page-adjuster{
  margin-top: -7px;
}
