<nav class="navbar navbar-expand-lg" style="background-color: white;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/img/app-logo.png" alt="" width="300" height="68"
      class="d-inline-block align-text-bottom" style="margin-top: -13px;">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>

      <div class="d-flex">
        <!-- <button class="navbar-toggler" type="button">
          <span class="navbar-toggler-icon">Hello</span>
        </button> -->

        <i class="fa fa-bars" style="font-size: 30px;color: #7500C0;margin-top: -14px;"></i>
      </div>
    </div>
  </div>
</nav>
