<div class="row fixed-top">
  <div class="col-12">
    <nav class="navbar navbar-expand-lg navbar-style">
      <div class="container-fluid header-bar">
        <a class="navbar-brand" href="#"  style="margin-top: -3px" >
          <img src="../../../assets/img/acclogo-white.png" alt=""
            class="d-inline-block align-text-bottom app-header-logo" />
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <span class="nav-link-l" [ngClass]="(isConnectionPage || isDataPrepPage) ? 'adjuster' :'home-page-adjuster'">
              <span class="nav-item active"><a class="nav-link" routerLink="/"><span
                    class="fa fa-home fa-lg fa-style"></span> Home</a></span>
              <span class="nav-item"><a class="nav-link" routerLink="/"><span class="fa fa-info fa-lg fa-style"></span>
                  About</a></span>
              <span class="nav-item"><a class="nav-link" routerLink="/"><span class="fa fa-blind fa-lg fa-style"></span>
                  Help</a></span>
            </span>
            <span class="nav-link-h">
              <ol class="breadcrumb nav-link-a" *ngIf="isConnectionPage">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item">Connection</li>
              </ol>
              <ol class="breadcrumb nav-link-b" *ngIf="isDataPrepPage">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item"><a routerLink="/connection">Connection</a></li>
                <li class="breadcrumb-item">Build Model</li>
              </ol>
            </span>
          </ul>
          <div class="d-flex">
            <p class="text-end three-bar" style="margin-top: 15px;"><a routerLink="/" style="color: white !important;"><i class="fa fa-bars fa-style"></i></a></p>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="col-12">
    <hr style="height: 1px; margin-top: 0px; color: #7500c0" />
  </div>
</div>
