<div class="row fixed-top">
  <div class="col-12">
    <nav class="navbar navbar-expand-lg" style="background-color: white">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="../../../assets/img/app-logo.png" alt="" width="300" height="68"
            class="d-inline-block align-text-bottom" style="margin-top: 0px" />
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
          <div class="d-flex">
            <i class="fa fa-bars" style="font-size: 30px; color: #7500c0; margin-top: 0px"></i>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="col-12">
    <hr style="height: 1px; margin-top: 0px; color: #7500c0" />
  </div>
</div>
